name: Publish on Modrinth

on: [ pull_request, workflow_dispatch ]

env:
  JAVA_VERSION: 17
  MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check Environment Variables
        run: env

      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - uses: madhead/read-java-properties@latest
        id: read_properties
        with:
          file: gradle.properties
          all: true

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: 21

      - name: Make Gradle Wrapper Executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew clean build

      - name: Publish (Modrinth/GitHub)
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          files: build/libs/!(*-@(dev|sources|javadoc)).jar
          name: "VinURL ${{ steps.read_properties.outputs.mod_version }}"
          modrinth-id: 5PsMUIsq
          modrinth-token: "${{env.MODRINTH_TOKEN}}"

          version-type: release
          changelog-file: CHANGELOG.md
          loaders: fabric
          java: "${{env.JAVA_VERSION}}"
