name: Build and Publish

on:
  push:
    paths:
      - "CHANGELOG.md"
  workflow_dispatch:

env:
  JAVA_VERSION: 21

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check Environment Variables
        run: env

      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - uses: madhead/read-java-properties@latest
        id: all
        with:
          file: gradle.properties
          all: true

      - name: Extract version from CHANGELOG.md
        id: extract_version
        run: |
         
          VERSION=$(grep -oP '(?<=Version: )\d+\.\d+\.\d+' CHANGELOG.md | head -n 1)
          
          echo "mod_version=$VERSION" >> $GITHUB_ENV

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "${{env.JAVA_VERSION}}"

      - name: Make Gradle Wrapper Executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew

      - name: Build
        if: ${{ steps.all.outputs.pub_fabric == 'true' }}
        run: ./gradlew clean build

      - name: Publish Fabric
        if: ${{ steps.all.outputs.pub_fabric == 'true' }}
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          files: build/libs/!(*-@(dev|sources|javadoc)).jar
          name: "VinURL ${{ env.mod_version }} for Fabric ${{ steps.all.outputs.mod_minecraft_version_end }}"
          version: "${{ env.mod_version }}+${{ steps.all.outputs.mod_minecraft_version_end }}-fabric"

          modrinth-id: 5PsMUIsq
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          curseforge-id: 1326616
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          dependencies: |
            fabric-api
            owo-lib

          version-type: release
          changelog-file: CHANGELOG.md
          loaders: fabric
          java: "${{env.JAVA_VERSION}}"

      - name: Build
        if: ${{ steps.all.outputs.pub_neoforge == 'true' }}
        run: ./gradlew clean build -Pneoforge=true

      - name: Publish Neoforge
        if: ${{ steps.all.outputs.pub_neoforge == 'true' }}
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          files: build/libs/!(*-@(dev|sources|javadoc)).jar
          name: "VinURL ${{ env.mod_version }} for Neoforge ${{ steps.all.outputs.mod_minecraft_version_end }}"
          version: "${{ env.mod_version }}+${{ steps.all.outputs.mod_minecraft_version_end }}-neoforge"

          modrinth-id: 5PsMUIsq
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          curseforge-id: 1326616
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          dependencies: |
            forgified-fabric-api
            owo-lib
            connector

          version-type: release
          changelog-file: CHANGELOG.md
          loaders: neoforge
          java: "${{env.JAVA_VERSION}}"
